.about-me {
  &__container {
    display: flex;
    gap: 106px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__whoami {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
  }

  &__download-container {
    background-color: #FF6464;
    border-radius: 2px;
    margin-top: 38px;
    width: 208px;
    height: 47px;
  }

  &__download {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 9px;
    margin-left: 20px;
  }

  &__image {
    border-radius: 243px;
  }
}