.works {
  &__container {
    margin-top: 15px;
    max-width: 848px;
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
  }

  &__wrapper {
    margin-top: 11px;
  }

  &__item {
    margin-top: 31px;
  }

  &__link {
    display: flex;
    gap: 18px;
    margin-bottom: 35px;
  }

  &__img {
    border-radius: 6px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  &__year-tag-wrapper {
    display: flex;
    gap: 26px;
    margin-top: 10px;
    height: 34px;
  }

  &__year-container {
    width: 62px;
    height: 25px;
    border-radius: 16px;
    background: #142850;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__work-title {
    color: #21243D;
    font-size: 30px;
    font-weight: 700;
  }

  &__year {
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    line-height: 60px;
  }

  &__tag {
    color: #8695A4;
    font-size: 20px;
    font-weight: 400;
  }

  &__description {
    color: #21243D;
    margin-top: 17px;
  }
}